.presentationsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

:where(.presentationsContainer) {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
  }

  li {
    display: grid;
    border: 1px solid var(--color);
    border-radius: var(--radius);
    box-shadow: var(--radius) var(--radius) darkslategray;
    padding: 1em;
  }

  li:hover {
    border: 1px solid darkslategray;
  }

  .presentation {
    display: grid;
    border: 1px solid var(--color);
    padding: 1em;
  }

  .presentation:hover {
    border: 1px solid lightslategray;
  }
}
